@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Secular One', sans-serif;
    font-size: 25px;
}

html {
    scroll-behavior: smooth;
}

header {
    height: 100px;
    width: 100%;
    background: lightblue;
    position: fixed;
}

/* Mobile First */

nav {
    top:0;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 80px;
}

.logo-img, .logo-txt {
    padding-left: 10px;
}

.nav-list {
    position: fixed;
    top:100px;
    width: 100%;
    height: 0vh;
    background: lightskyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .5s;
}

.nav-list li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    opacity: 0;
    transition: all .5s;
    margin: 5px 0 5px 0;
}

.nav-list li a {
    text-decoration:none;
    color: #000;
}

.nav-list li a:hover {
    text-decoration:none;
    color: rgb(255, 251, 14);
}

.servicesLabel:hover {
    color: rgb(255, 251, 14);
}

#check {
    display: none;
}

.hamburguer-btn {
    padding-right: 20px;
    cursor: pointer;
}

#check:checked~.nav-list {
    height: 100vh;
}

#check:checked~.nav-list li {
    opacity: 1;
}

.servicesLabel {
    cursor: pointer;
}

.serVarios {
    background: lightsteelblue;
    width: 100%;
    display: none;
    opacity: 0;
}

#checkServ {
    display: none;
}

#checkServ:checked~.serVarios {
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 1;
}






